<center>
	<div id="page_wrapper">

	<div id="content">
		<h1 class="ashot">Ashot Makhitarian</h1>
			<h1 class="ashotmg">Trainee at Codaisseur</h1>
				<img src="/assets/code.png" height="80" />


				<p>Also see my other socialmedia</p><br/><br/>
				<a href="https://www.facebook.com/ashot.makhitarian"><img src="/assets/facebook.png" height="42" /></a>
						<img src="/assets/between.png" height="42" />
				<a href="https://github.com/amachitarian/"><img src="/assets/github.png" height="42" /></a>
						<img src="/assets/between.png" height="42" />
				<a href="https://www.linkedin.com/in/ashot-makhitarian-43a5526b?trk=hp-identity-name"><img src="/assets/linkedin.png" height="42" /></a>
						<img src="/assets/between.png" height="42" />
				<a href="https://www.instagram.com/ashotmg/"><img src="/assets/instagram.png" height="42" /></a><br/><br/>

    <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.</p>
<br/><br/>
		<p>My WebDeveloper skills</p>
	</div>


<img src="/assets/skills.png" /><br/><br/><br/>

</center>
